//COLORS
$color-primary: #007bff;

* { padding: 0;}
li { list-style: none;}
.fa { font-size: 35px;}

.box-container{ box-shadow: 5px 5px 2px rgba($color: #033270, $alpha: 0.1); border: solid #f1f1f1; border-radius: 0.5rem;}
/**/
/*Element sticked to range slider*/
.range-wrap{
    /*max-width: 300px;*/
    position: relative;
}
.range-value{
    position: absolute;
    top: -50%;
}
.range-value span{ 
    height: 28px; 
    width:75px;
    font-size: 20px;
    text-align: center;
    background: $color-primary;
    color: #fff;
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 6px;
    margin-top: -10px;
}
.range-value span:before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid $color-primary;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    margin-top: -1px;
}


/*RANGE SLIDER CROSS-BROWSER STYLES*/
$background-color: white;

$width: 100%;
$height: 40px;

$bar-height: 10px;
$border-radius: 8px;
$bar-color: transparent;
$bar-fill: rgb(0, 195, 255);

$cursor-size: 30px;
$cursor-color: rgb(0, 195, 255);
$cursor-border-size: 3px;
$cursor-border: $background-color;

.container-slider {
  position: relative;
  display: inline-block;
  width: $width;
  height: $height;
}

.fill {
  position: absolute;
  box-sizing: border-box;
  display: inline-block;
  left: 0;
  top: $height/2 - $bar-height/2 ;
  border-radius: $border-radius;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: calc(100% - 5px);
  height: $bar-height;
  background: $bar-fill;
}

// reset styles
.volume-slider {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-appearance: none;
  width: $width;
  height: $height;
  background: transparent;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;
  
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  
  &::-ms-track {
    width: $width;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  
  &:focus {
    outline: none;
  }
  
  &::-moz-focus-outer {
    border: 0;
  }
}

// webkit browsers
.volume-slider {    
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: $cursor-border-size solid $cursor-border;
    height: $cursor-size;
    width: $cursor-size;
    border-radius: 50%;
    background: $cursor-color;
    cursor: pointer;
    margin-top: -11px;
  }
  
  &::-webkit-slider-runnable-track {
    width: $width;
    height: $bar-height;
    cursor: pointer;
    background: $bar-color;
    border-radius: $border-radius;
    border: 1px solid $bar-fill;
  }
}

// Firefox
.volume-slider {  
  &::-moz-range-thumb {
    border: $cursor-border-size solid $cursor-border;
    height: $cursor-size;
    width: $cursor-size;
    border-radius: 50%;
    background: $cursor-color;
    cursor: pointer;
  }
  
  &::-moz-range-track {
    box-sizing: border-box;
    width: $width;
    height: $bar-height;
    cursor: pointer;
    background: $bar-color;
    border-radius: $border-radius;
    border: 1px solid $bar-fill;
  }
}

// Internet Explorer
.fill {
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    display: none;
  }
}

.volume-slider {    
  &::-ms-thumb {
    box-shadow: 0 0 0 $cursor-border-size $cursor-border;
    height: $cursor-size;
    width: $cursor-size;
    border-radius: 50%;
    background: $cursor-color;
    cursor: pointer;
    margin-top: 2px;
    box-sizing: border-box;
    border: 0;
  }
  
  &:focus::-ms-thumb {
    border: 0;
  }
  
  &::-ms-track {
    width: $width;
    height: $bar-height;
    cursor: pointer;
    background: $bar-color;
    border-radius: $border-radius;
    border: 1px solid $bar-fill;
    color: transparent;
    box-sizing: border-box;
  }
  
  &::-ms-fill-lower {
    background: $bar-fill;
    border-radius: $border-radius;
    border: 1px solid $bar-fill;
  }
  
  &::-ms-fill-upper {
    background: $bar-color;
  }
  
  &::-ms-tooltip {
    display: none;
  }
}